@import url("https://fonts.googleapis.com/css?family=Geo");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");

.block {
  display: flex;
  margin-top: 70px;
}

.line-block-person,
.line-block-person2 {
  height: 70px;
  width: 630px;
  margin-top: 70px;
  position: absolute;
}

.line-block-person2 {
  width: 900px;
}

.second-line-block-person2 {
  margin-top: 50px;
  margin-left: 0px !important;
}

.second-line-block-person,
.second-line-block-person2 {
  margin-top: 50px;
  width: 70px;
  position: absolute;
  height: 700px;
  margin-left: 550px;
}

.are-title {
  font-size: 48px;
  display: left;
  text-align: center;
  height: 50px;
  text-transform: uppercase;
  font-family: "Digital Numbers Regular";
}

.first-person {
  display: block;
  width: 50%;
}

.second-line {
  background: #00ffff;
  width: 10px;
  height: 580px;
  text-align: center;
  margin: auto;
}

.person-name,
.person2-name {
  padding-top: 20px;
  font-size: 24px;
  width: 75%;
  margin-top: 550px;
  font-family: Josefin Sans;
  text-align: center;
  line-height: 1;
}

.person-email {
  padding-top: 5px;
  font-size: 20px;
  height: 20px;
  width: 75%;
  font-family: Josefin Sans;
  text-align: center;
  line-height: 1;
  color: #4E4E4E;
}

.person2-name {
  margin-top: 570px;
}

.name {
  font-size: 28px;
  font-weight: bold;
}

.what-we-are-text {
  margin-top: 200px;
  font-size: 20px;
  width: 40%;
  font-weight: bold;
  display: right;
  font-family: Josefin Sans;
}

.what-we-are-secondtext {
  margin-top: 200px;
  font-size: 20px;
  width: 40%;
  margin-left: 150px;
  font-weight: bold;
  font-family: Josefin Sans;
}

.what-we-are-text i,
.what-we-are-secondtext i {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
}

.person-foto,
.person2-foto {
  margin-top: 50px;
  z-index: 1;
  margin-left: 150px;
  position: absolute;
}

.person2-foto {
  display: right;
}

.mobile {
  display: none;
}

.desktop {
  display: contents;
}

@media (max-width: 400px) {
  .second-line-block-person,
  .second-line-block-person2 {
    display: none;
  }

  .block {
    display: block;
    margin-top: 70px;
  }

  .line-block-person,
  .line-block-person2 {
    height: 10px;
    width: 75%;
    margin: auto;
    position: absolute;
    margin-top: 300px;
    margin-left: 45px;
  }

  .are-title {
    font-size: 18px;
    text-align: center;
    width: 100% !important;
    margin: auto;
    text-transform: uppercase;
    font-family: "Digital Numbers Regular";
  }

  .first-person {
    display: block;
    width: 100%;
  }

  .second-line {
    background: #00ffff;
    width: 10px;
    height: 580px;
    text-align: center;
    margin: auto;
  }

  .person-name,
  .person2-name {
    padding-top: 0px;
    font-size: 14px;
    margin-bottom: 5px;
    width: 100%;
    margin-top: 20px;
    font-family: Josefin Sans;
    text-align: center;
    line-height: 1;
  }

  .name {
    font-size: 14px;
    font-weight: bold;
  }

  .person2-name {
    margin-top: 20px;
  }

  .person-email {
    padding-top: 0px;
    font-size: 14px;
    height: 20px;
    width: 75%;
    margin: auto;
    font-family: Josefin Sans;
    text-align: center;
    line-height: 1;
  }

  .what-we-are-text {
    padding-top: 24px;
    font-size: 11px;
    width: 55%;
    margin: auto;
    font-weight: bold;
    font-family: Josefin Sans;
  }

  .what-we-are-secondtext {
    margin-top: 60px;
    font-size: 11px;
    width: 55%;
    margin-left: 84px;
    margin-right: 84px;
    font-weight: bold;
    font-family: Josefin Sans;
  }

  .what-we-are-text i,
  .what-we-are-secondtext i {
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
  }

  .person-foto,
  .person2-foto {
    margin-top: 20px;
    margin-left: 112px;
    margin-right: 112px;
    width: 150px;
    height: 200px;
    z-index: 1;
    position: inherit;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: inherit;
  }
}
