.main-photo {
  width: 670px;
  height: 900px;
  display: left;
}

.main-block {
  display: flex;
}

.text {
  display: right;
  width: 900px !important;
  height: 850px;
  margin-left: 50px;
  margin-top: 100px;
}

.main-title {
  font-size: 150px !important;
  overflow-wrap: break-word;
  line-height: 1.4 !important;
  font-family: "Digital Numbers Regular";
}

.main-subtitle {
  font-size: 80px;
  overflow-wrap: break-word;
  color: #00ffff;
  font-family: Geo;
  letter-spacing: 6px;
}

@media(max-width: 375px) {
  .main-photo {
    width: 375px;
    height: 250px;
    object-fit: cover;
    object-position: left top;
  }
  
  .main-block {
    display: block;
  }
  
  .text {
    width: 365px !important;
    height: auto;
    margin-left: 10px;
    margin-top: 20px;
  }
  
  .main-title {
    font-size: 72px !important;
    overflow-wrap: break-word;
    line-height: 1.4 !important;
    font-family: "Digital Numbers Regular";
  }
  
  .main-subtitle {
    font-size: 36px;
    overflow-wrap: break-word;
    color: #00ffff;
    font-family: Geo;
  }
}